@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["title"] = "Create Role";
}
<h1>    Create Role as a Manager </h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            
            <br />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"> </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger">  </span>
            </div>
            <button type="submit" class="btn btn-primary">  create  </button>


        </form>
    </div>
</div>
@section Scripts
{
    <partial name="_validationScriptsPartial">
}








